.mainMenu {
  display: flex;
  list-style: none;
  gap: 10px;
  align-items: center;

  &__item {
    a {
      display: flex;
      padding: 10px;
      background: inherit;
      box-shadow: none;
      box-sizing: border-box;
      transition: all ease 0.2s;
      font-size: 15px;
    }

    &:hover {
      a {
        box-shadow: 0 8px 15px #37373733;
      }
    }
  }
}
